<div class="home">
    <div class="back">
    	<img src="imagens/desktop.jpg" id="backImg"/>
    </div>
	<div class="cabecalho">
		<img src="imagens/cabecalho.png" id="cabecalho">
	</div>
	<hr>
	<a class="home" href="#conhecer" id="conhecerButton" ng-mouseover="hover('conhecerButton');" ng-mouseleave="unhover('conhecerButton');"><img src="imagens/icon1.png"/>Conhecer Cadeiras</a>
	<a class="home" href="#planejar" id="planejarButton" ng-mouseover="hover2('planejarButton');" ng-mouseleave="unhover2('planejarButton');"><img src="imagens/icon2.png"/>Planejar Matriz</a>
	<a class="home" href="#comentar" id="comentarButton" ng-mouseover="hover3('comentarButton');" ng-mouseleave="unhover3('comentarButton');"><img src="imagens/icon3.png" />Comentar Cadeira</a>
	<hr>
	<h3 id="subtitulo">{{ promo }}</h3>
	<div id="creditos"><img src="imagens/logoUFC.png"/><img src="imagens/logoBB.png"/></div>
</div>