<div class="home">
    <div class="back"></div>
	<div class="cabecalho">
		<img src="imagens/cabecalho.png" id="cabecalho">
	</div>
	<p id="titulo">Eu <b>quero</b></p>
	<hr>
	<a class="home" href="#1" id="conhecer" onmouseover="hover(this);" onmouseout="unhover(this);"><img src="imagens/icon1.png"/>Conhecer Cadeiras</a>
	<a class="home" href="#2" id="planejar" onmouseover="hover2(this);" onmouseout="unhover2(this);"><img src="imagens/icon2.png"/>Planejar Matriz</a>
	<a class="home" href="#3" id="comentar" onmouseover="hover3(this);" onmouseout="unhover3(this);"><img src="imagens/icon3.png" />Comentar Cadeira</a>
	<hr>
	<h3 id="subtitulo">{{ promo }}</h3>
	<div id="creditos"><img src="imagens/logoUFC.png"/><img src="imagens/logoBB.png"/></div>
</div>