body {
	text-align: center;
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #f5f6f7;
}

img {
	height: 100%;
	width: auto;
}

a {
	text-decoration: none;
	color: #003a30;
	border: transparent;
	border-radius: 2px;
	background-color: rgba(190,190,190,0.6);
	padding: 10px 5px;
	margin: 0 5px;
}

a.home {
	display: inline-block;
	background:#fa0c01;
	color:#fff;
	width:200px;
	height:200px;
	vertical-align:middle;
	text-align:center;
	font-size:20px;
	margin-right: 20px;
}

a.home:hover{
	box-shadow: 10px 10px 0px #fbffa3;
	color: #5EB1CD;
}

a.home img{
	width: 60%;
	height: 60%;
	display: block;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	transition:all 0.5s ease-out;
}

a.home img:hover{
	width: 50%;
	height: 50%;
}

label {
	display: block;
	font-style: lighter;
	color: #5EB1CD;
	font-size: large;
}

h1 {
	color: #fff;
	font-size: 250%;
	font-weight: light;
}

h2, h3 {
	color: #5EB1CD;
	font-weight: lighter;
	display: inline;
}

h4 {
	color: #5a5a63;
	font-weight: lighter;
	margin: 0;
	font-family: "FiraSans-Book";
}

h5{
	margin-left: 3%;
	display: inline;
	padding: 5px;
	color: #fff;
	text-transform: uppercase;
}

hr {
	width: 50%;
	 border: 0; 
	 height: 2px; 
 background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
 background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
 margin-top: 2%;
 margin-bottom: 2%;
}

p {
	margin: 0px;
}

input[name=searchbar]{
	background-color: lightblue;
	color:  #5a5a63;
	font-size: large;
	height: 10px;
	width: 40%;
	padding: 15px;
	border: 0px;
	border-radius: 0%;
	margin: 35px auto 15px auto;

}

select{   
	color:  #5a5a63;
	background: lightblue;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0px;
    border-radius: 1px;
    -webkit-appearance: menulist;
	-moz-appearance: menulist;
    text-indent: 0.01px;
    text-overflow: '';
    font-family: "FiraSans-Book";
}

div.trilha{
	color:#fff;
	width:170px;
	height:30px;
	line-height:25px;
	vertical-align:middle;
	text-align:center;
	font-size:16px;
	margin-top: 5px;
	display: inline-block;
	cursor: pointer;
}

.conhecer{
	z-index: -1;
	color: #000;
	font-weight: bold;
	width: 65%;
	margin: auto;
}

.comentar{
	z-index: -1;
	color: #000;
	font-weight: bold;
	width: 100%;
	margin: auto;
}

.planejar{
	z-index: -1;
	color: #000;
	font-weight: bold;
	width: 100%;
	margin: auto;
}

.back{
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: -1;
	height: 100%;
	width: 100%;
	background-color: #3a7fc9;
}

.backmenor{
	position: relative;
	top: 0%;
	left: 0%;
	z-index: 2;
	height: 120px;
	width: 100%;
	margin-bottom: 20px;
	background: url("../imagens/desktop.jpg") #63b6f8;
	background-size: 100%;
	box-shadow: 0px 15px 15px #ccc;
}

.cor {
	color: #5a5a63;
	font-family: "FiraSans-Book";
}
.slot0,
.slot1,
.slot2,
.slot3,
.slot4{
	vertical-align: middle;
	background-color: lightgray;
	text-align: center;
	font-size: small;
	padding: 5px;
	width: 80px;
	height: 40px;
	margin: 5px;
	display: inline-flex;
	border-radius: 10%;
    border-width: 1px;
}

.slot5,
.slot6{
	vertical-align: middle;
	text-align: center;
	font-size: small;
	padding: 5px;
	width: 77px;
	height: 37px;
	margin: 5px;
	display: inline-flex;
	border-radius: 10%;
	border-width: 3px;
	border-style: solid;
	border-color:lightgray;
}

.card{
	width: 40%;
	display: inline-block;
}

.cardPlan{
	display: inline-block;
	position: absolute;
	right: 7%;
	bottom: 35%;
}

.number{
	display: inline-block;
	height: 55px;
	width: 55px;
	text-align: center;
	line-height: 40px;
	margin: auto;
	cursor: pointer;
	color: #5a5a63;
	font-family: "FiraSans-Book";
}

.menuDireito{
	margin-top: 10%;
	display: inline-block;
	position: absolute;
    left: 3%;
}

.menuDireito img{
	display: block;
	width: 80px;
	height: auto;
	margin: auto;
	cursor: pointer;
}

.disc{
	width: auto;
	height: auto;
	text-align: left;
	margin: 0px;
	padding: 0px;
	display: inline-flex;
	border-radius: 10%;
    border-width: 1px;
	border: transparent;
	cursor: move;
}

.discButton{
	width: 100px;
	height: 60px;
	text-align: left;
	margin: 5px;
	padding: 1%;
	display: inline-flex;
	border-radius: 10%;
    border-width: 1px;
	border: transparent;
	cursor: move;
	font-size: 10px;
	font-family: "FiraSans-Light";
}

.discButtonMatriz{
	width: 80px;
	height: 40px;
	text-align: left;
	margin: -5px;
	padding: 5px;
	display: inline-flex;
	border-radius: 10%;
    border-width: 1px;
	border: transparent;
	cursor: move;
	font-size: 10px;
	font-family: "FiraSans-Light";
}

.discConhe{
	width: 100px;
	height: 48px;
	text-align: left;
	margin: 5px;
	padding: 2%;
	display: inline-flex;
	border-radius: 10%;
    border-width: 1px;
	border: transparent;
	text-transform: uppercase;
}

.discButton.selected{
	color: #fff;
	padding: 5px;
	width: 100px;
	height: 50px;
	margin: 5px;
	display: inline-flex;
    border-color: yellow;
    border-style: solid;
    border-width: 2px;
}

.backbutton{
	background: transparent;
	border: none;
	color: white;
	margin: 20px;
}

.btn{
	border: none;
	padding: 10px;
	display: block;
	background-color: #ff4b68;
	color: white;
	margin: 5px 65%;
	background: -webkit-linear-gradient(top, white 50%, #ff4b68 50%);
	background: -o-linear-gradient(top, white 50%, #ff4b68 50%);
	background: linear-gradient(to top, white 50%, #ff4b68 50%);
	background-size: 100% 200%;
	background-position:top;
	transition:all 1s ease-out;
}

.btn:hover{
	background-position: bottom;
	color: #ff4b68;
	font-weight: bold;
}

.img{
    float: left;
    margin: 5px 20px 20px -105px;
    height: 100px;
    width: 100px;
    border-radius: 50%
}

.numero{
	float: left;
	width: 5%;
	margin-top: 18%;
	margin-left: -10%;
}

.filtro{
	display: inline;
	color:#fff;
	font-family: "FiraSans-Book";
}

.circle{
	background:lightblue;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: white;
	font-size: xx-large;
	font-weight: lighter;
	margin-right:5px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #b94a48;
}
.has-error .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.has-error .form-control-big {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control-big:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.has-error .input-group-addon {
  color: #b94a48;
  border-color: #b94a48;
  background-color: #f2dede;
}
.has-error .form-control-feedback {
  color: #b94a48;
}

.form{
	color: #000;
	font-weight: bold;
}

.form-control {
    width: 40%;
    margin: 5px auto;
    padding: 8px 12px;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group{
	margin: 5% auto;

}

.form-control-big {
    width: 40%;
    height: 100px;
    resize: none;
    overflow: auto;
    margin: 5px auto;
    padding: 8px 12px;
    color: #555555;
    font-family: FiraSans-Book;
    background-color: #ffffff;
    background-image: none;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#titulo{
	color: white;
	font-size: 300%;
}

#subtitulo{
	display: block;
	color: #fff;
	font-size: 100%;
	font-style: lighter;
}

#spaceup{
	margin-top: 5%;
	}

#spaced{
	margin-bottom: 5%;
}

#mostraMatriz{
	z-index: -1;
	color: #000;
	font-weight: bold;
	width: 65%;
	margin: auto;
}

#conhecer:active{
	background: white;
	box-shadow: none;
	margin-right: 20px;
	margin-top: 20px;
}

#conhecerButton {
	background: -webkit-linear-gradient(left, #5EB1CD 50%, white 50%);
	background: -o-linear-gradient(left, #5EB1CD 50%, white 50%);
	background: linear-gradient(to right, #5EB1CD 50%, white 50%);
	background-size: 200% 100%;
	background-position:left;
	margin-left:10px;
	transition:all 1s ease-out;
}

#conhecerButton:hover{
	    background-position:right;
}

#planejarButton {
	background: -webkit-linear-gradient(top, #00C56E 50%, white 50%);
	background: -o-linear-gradient(top, #00C56E 50%, white 50%);
	background: linear-gradient(to top, #00C56E 50%, white 50%);
	background-size: 100% 200%;
	background-position:bottom;
	transition:all 1s ease-out;
}

#planejarButton:hover{
	background-position:top;
}

#comentarButton {
	background:#EC7ACF;
	background: -webkit-linear-gradient(right, #EC7ACF 50%, white 50%);
	background: -o-linear-gradient(right, #EC7ACF 50%, white 50%);
	background: linear-gradient(to left, #EC7ACF 50%, white 50%);
	background-size: 200% 100%;
	background-position:right;
	transition:all 1s ease-out;
}

#comentarButton:hover{
	    background-position:left;
}

#desc{
	text-align: left;
	overflow: hidden;
	margin-top: 5%;
}

#footerMatriz, #footercomentar{
	bottom: 0%;
}

#commentsection{
	width: 100%;
	height: 20px;
	background: #ff4b68;
	position: absolute;
	bottom: 0;
    padding-top: 15px;
    padding-bottom: 30px;
	margin-top: 6.5%;
}

#comentario{
	width:40%;
	margin: auto;
	text-align: left;
}

#matriz{
	display: block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
	margin-left: 15%;
}

#descre{
	margin-left: 20%;
	float: left;
	margin-left: 15%;
}

#gridCadeiras{
    width: 100%;
    height: 500px;
    float: right;
    overflow-x: hidden;
    overflow-y: visible;
    margin-right: -15%;
    margin-top: 3%;
}

#gridCadeiras2{
    width: 50%;
    height: 350px;
    float: right;
    overflow-x: hidden;
    overflow-y: visible;
    margin-right: -5%;
    margin-top: 1%;
    cursor: pointer;
    color: white;
    font-family: "FiraSans-Light";
    font-size: 13px;
    padding: 10px;
}


#gridCadeirasMatriz{
	height: 480px;
	width: 40%;
    overflow-x: hidden;
    overflow-y: visible;
    margin-left: 10%;

}

#dicaTrilha{
    color: #5a5a63;
    font-size: 10px;
    font-weight: lighter;
    margin: 5px 0;
    font-family: "FiraSans-Book";
}

#obt{
	color: red;
}

#opt{
	color: blue;
}

#elt{
	color: green;
}

#audiovisual{
	background:#b8c7e0;
	padding-top: 2%;
}

#sistemas{
	background:#e5b0b0;
	padding-top: 2%;
}

#jogos{
	background:#c4b5e5;
	padding-top: 2%;
}

#animacao{
	background:#c4e8b9;
	padding-top: 2%;
}

#audiovisual:hover{
	background:#5783CB;
	padding-top: 2%;
}

#sistemas:hover{
	background:#E75757;
	padding-top: 2%;
}

#jogos:hover{
	background:#875FDB;
	padding-top: 2%;
}

#animacao:hover{
	background:#79BE65;
	padding-top: 2%;
}


#boxtrilhas{
	position: absolute;
	display: block;
	margin-bottom: 0%;
	left: 10%;
	font-family: "FiraSans-Light";
	vertical-align: sub;

}

#titulotrilhas{
	color: #2980B9;
	text-align: left;
	margin-left: 10%;
}

#backcomment{
	margin: 0;
	position: absolute;
	left: 10%;
	margin-top: 60px;
	display:inline;
}

#titlecomms{
	font-size: large;
	background: #f5f6f7;
	color: #ff4b68;
	padding: 5px;
}

#titlecomms img{
	vertical-align: -5px;
	margin-right: 10px;
	
}

#creditos {
	margin: auto;
}

#creditos img{
	margin: 20px;
}

#voltar{
	visibility: hidden;
	display: inline-block;
	width: 100px;
	height: 80px;
	background-color: grey;
	border-style: dashed;
	border-radius:10%;
	border-width: 3px;
}

#backImg{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

#conteudo{
	margin: auto;
	width: 60%;
}

#chamamatrizimg{
	float: right;
	margin-right: 37.5%;
	width: 2.5%;
	height: auto;
	cursor: pointer;
}

#imprime{
	float: right;
	margin-right: -8%;
	width: 2.5%;
	height: auto;
	cursor: pointer;
}

#salva{
	float: right;
	margin-right: -13%;
	width: 2.5%;
	height: auto;
	cursor: pointer;
}

#limpar{
	float: right;
	margin-right: -18%;
	width: 3%;
	height: auto;
	cursor: pointer;
	filter: invert(100%) brightness(200%);
}

#undo{
	float: right;
	margin-right: -23%;
	width: 3%;
	height: auto;
	cursor: pointer;
}

#commentbox{
	color: #5a5a63;
	margin-top: 10px;
	background-color: white;
	height: 100px;
	border-radius: 20px;
}

#barradefiltro{
	font-size:16px;
	height: 40px;
	margin-bottom: 15px;
	margin-left: -3%;
	text-align: left;
	padding-left: 22%;
}

#ord{
	margin-left: 2%;
}

#footDown{
	width: 100%;
	height: 15px;
	background: #ff4b68;
	display: table;
}


#newcomment{
	border: none;
	background: #ff4b68;
	color: white;
	display: inline;
	border-radius: 0%;
	padding: 5px;
	margin-top: 10px;
	cursor: pointer;

}

#nomedacadeira{
	font-size: x-large;
	color: #5a5a63;
	font-weight: lighter;
	display: inline;
	font-family: "FiraSans-Bold";
}

.sumir{
	margin: 0;
	padding: 0;
	border: 0;
}

img#cabecalho {
	height: 150px;
	width: auto;
	margin: 30px;
}

img#cabecalhoMenor {
	height: 100px;
	width: auto;
	margin: 1%;
	position: absolute;
	left: 1%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes diminui {
   to {	height: 25%;}
}

/* Standard syntax */
@keyframes diminui {
   to {	height: 25%;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes aumenta {
   to {	height: 100%;}
}

/* Standard syntax */
@keyframes aumenta {
   to {	height: 100%;}
}

::-webkit-input-placeholder {
   color: #a2a2a7;
}

:-moz-placeholder { /* Firefox 18- */
   color: #a2a2a7;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #a2a2a7;  
}

:-ms-input-placeholder {  
   color: #a2a2a7;  
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
	background: lightblue;
	font-size: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #5EB1CD; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(128,128,128,0.4); 
}

@media screen and (max-height:769px){
	#gridCadeiras{
		width: 100%;
		height: 300px;
	}
	#gridCadeirasMatriz{
		height: 480px;
		width: 18%;
	}
	.discButton, .discButton.selected{
		width: 80px;
		height: 40px;
		border-width: 1px;
		font-size: 10px;
		padding: 5px;
		font-weight: lighter;
	}
	#commentsection{
	top: 80%;
	bottom: none;
}
.mostra{
	width: 65%;
}

h4{font-size: small;}
#newcomment{font-size: small;}
h5{font-weight: lighter;
font-size: small;}

	.slot, .specialslot{
		width: 80px;
		height: 40px;
		border-width: 1px;
	}
	#mostraMatriz{
		width: 75%;
	}
	#footerMatriz{
	bottom: -25%;}
	input[name=searchbar]{
		width: 55%;
	}
	#comentario {
		width: 50%;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	#titlecomms img{
		height: 20px;
		width: 22px;
		vertical-align: -5px;
		margin-right: 8px;
	}
	#titulo{
		font-size: 200%;
	}
	img#cabecalho{
		margin: 30px;
	}
	#creditos img{
		height: 8vh;
		width: auto;
	}
}

@font-face {
	font-family: FiraSans-Light;
    src: url('fontes/FiraSans-Light.otf');
}


@font-face {
	font-family: FiraSans-Book;
    src: url('fontes/FiraSans-Book.otf');
}

@font-face {
	font-family: FiraSans-Bold;
    src: url('fontes/FiraSans-Bold.otf');
}


@font-face {
	font-family: FiraSans-Medium;
    src: url('fontes/FiraSans-Medium.otf');
}