<!--Planejar Matriz-->
<div class="backmenor">	
	<a href="#home" class="sumir">
		<img src="imagens/cabecalho.png" id="cabecalhoMenor">
	</a>
	<div id='barradefiltro'>
		<form>
			<input type="search" name="searchbar" ng-model="searchText"  placeholder="Escolha uma cadeira abaixo, ou busque aqui." ondrop="return false;"></input>
		</form>
		<div>
			<p class="filtro">Ver</p>
			<select id="filtr1" ng-model="filtro">
				<option class="cor" value="Obrigatória">Obrigatórias</option>
				<option class="cor" value="Optativa">Optativas</option>
				<option class="cor" value="Eletiva">Eletivas</option>
				<option class="cor" value="">Todas</option>
			</select>
			<p class="filtro" id="ord">Ordenadas por</p>
			<select ng-model="ordem">
				<option class="cor" value="-comentarios.length">comentários</option>
				<option class="cor" value="semestre">semestre</option>
				<option class="cor" value="professor">professor</option>
			</select>
			<a href="#conhecer" class="sumir" >
				<img id="chamamatrizimg" src="./imagens/icon2.png"></img>
			</a>
		</div>	
			<!-- The Modal -->
			<div id="myModal" class="modal">

			  <!-- Modal content -->
			  <div class="modal-content">
			    <span class="close">&times;</span>
			    <p>Crie uma cadeira que não está disponível aqui.</p>
			    <input type="text" name="cadeira" ng-model="nomeCadeira" placeholder="Coloque o nome da cadeira"></input>
			    <input type="color" name="cor" ng-model="colorCadeira"></input>
			    <button type="submit" class="btnModal" ng-click="submeterCadeira()">Criar cadeira</button>
			  </div>

			</div>
	</div>
</div>
<div class="planejar">
	<div id="matriz">
		<div id="{{'sem'+($index)}}" slot="{{$index}}" ng-repeat="j in matriz track by $index">
			<div class="number" id="{{'click'+$index}}" ng-click="fixSemestre($index)"><span class="tooltiptext">Clique para preencher o semestre com as cadeiras obrigatórias</span>{{$index+1}}</div>
			<div class="{{'slot'+$index}}"
			slot="{{$index}}" 
			ng-repeat="i in j track by $index" 
			ondrop="drop(event)" 
			ondragover="allowDrop(event)">
				<div ng-click="getData(cadeira.id)" 
				ng-if="i.apar"
				ng-if="!i.matriz"
				draggable="true" 
				ondragstart="dragStart(event)" 
				ondragend="some()" id="{{i.id}}" 
				class="discButtonMatriz" name="{{i.name}}" 
				cheio="true" 
				style="background: {{i.color}}; color: white; border-color: lightgrey; text-transform: uppercase;">
					{{ i.name }}</div>
			</div>
		</div>
	</div>
	<div>
	<p class="sobs">Clique ou arraste para planejar sua matriz</p>
	<div id="gridCadeirasMatriz">
		<div class="disc" id="{{'wrap'+cadeira.id}}" 
		ng-repeat="cadeira in cadeiras | filter: filtro | filter:myFilterBy | filter: searchText | orderBy: ordem ">
			<div ng-click="mandarMatriz(cadeira.id)" 
			draggable="true" 
			ondragstart="dragStart(event)" 
			ondragend="some()" id="{{cadeira.id}}" 
			class="discButton" name="{{cadeira.name}}" 
			cheio="true" 
			ng-if="cadeira.existe"
			style="background: {{cadeira.color}}; color: white; border-color: lightgrey; text-transform: uppercase;">
				{{ cadeira.name }}
			</div>
		</div>
	</div>
	</div>
	<div class="cardPlan">
	<div id="menu">		
		<div id="voltar" ondrop="drop2(event)" ondragover="allowDrop(event)"><span id="textoVoltar">Retirar da matriz</span></div>
		<img id="imprime" src="imagens/iconprint.png"></img>
		<p class="subs">Imprimir matriz</p>
		<img id="nova" src="imagens/nova_cadeira.png" ng-click="addCadeira()"/>
		<p class="subs">Criar nova cadeira</p>
		<img id="limpar" src="imagens/clear.png" ng-click="limparMatriz()"/>
		<p class="subs">Limpar matriz</p>
		<img id="undo" src="imagens/undo.png" ng-click="voltar()"/>
		<p class="subs">Desfazer</p>
		</div>
		<div id="boxtrilhas">
			<label id="titulotrilhas">Trilhas</label>
			<div class="trilha" id="audiovisual" ng-mouseover="putTrilha(0)" ng-mouseleave="getTrilha(0)" ng-click="fixTrilha(0)" >Audiovisual</div>
			<div class="trilha" id="sistemas">Sistemas</div>
			<div class="trilha" id="jogos">Jogos</div>
			<div class="trilha" id="animacao">Animação</div>
			<p id="dicaTrilha"> Passe o mouse <b>sobre</b> uma trilha para visualizá-la na matriz. <b>Clique</b> para fixá-la.</p>
		</div>
	</div>
	<footer id="footDown"></footer>
</div>
