<!--Conhecer Cadeiras-->
<div class="backmenor">	
	<a href="#home" class="sumir">
	<img src="imagens/cabecalho.png" id="cabecalhoMenor">
	</a>
	<div id='barradefiltro'>
	<form>
	<input type="search" name="searchbar" ng-model="searchText" placeholder="Escolha uma cadeira abaixo, ou busque aqui."></input>
	</form>
		<p class="filtro">Ver</p>
	<select ng-model="filtro">
		<option class="cor" value="Obrigatória">Obrigatórias</option>
		<option class="cor" value="Optativa">Optativas</option>
		<option class="cor" value="Eletiva">Eletivas</option>
		<option class="cor" value="">Todas</option>
	</select>
	<p class="filtro" id="ord">Ordenadas por</p>
	<select ng-model="ordem">
		<option class="cor" value="-comentarios.length">comentários</option>
		<option class="cor" value="semestre">semestre</option>
		<option class="cor" value="professor">professor</option>
	</select>
	<a href="#planejar" class="sumir">
		<img id="chamamatrizimg" src="./imagens/icon2.png"></img>
	</a>
</div>
</div>
<div id="descre" class="conhecer">
	<div class="card">
	<descricao info="user.selectedObject"></descricao>
	</div>
	<div id="gridCadeiras2">
	<div ng-repeat="cadeira in cadeiras | filter: filtro | filter: searchText | orderBy: ordem" ng-if="cadeira.existe" ng-click="getData(cadeira.id)" id="{{cadeira.id}}" class="discConhe" style="background: {{cadeira.color}}">
	{{ cadeira.name }}
		</div>
	</div>
</div>
<footer id="commentsection">
<p id="titlecomms"><img src="imagens/iconcomments.png"/>Comentários:</p>
<comentario ng-repeat="comentario in desc.comentarios" info="comentario"></comentario>
<div class="comentar">
   <div class="form-group" ng-class="{ 'has-error': userForm.descricao.$touched && userForm.descricao.$invalid }">
      <textarea type="text" name="descricao" class="form-control-big" 
      placeholder="Escreva aqui seu comentário, opinião, dica, dúvida, avaliação sobre {{user.selectedObject.name}}" 
        ng-model="coment.desc"
        ng-minlength="5"
        required> </textarea>
        
      <div class="help-block" ng-messages="userForm.descricao.$error" ng-if="userForm.descricao.$touched">
          <p ng-message="required">Não há nenhuma mensagem</p>
          <p ng-message="minlength">Este comentário é muito curto</p>
      </div>
      <button type="submit" ng-click="submeter('descricao')" class="btn btn-danger">PUBLICAR</button>
    </div>  
</div>
</footer>